lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.lock.json
*.tgz

publish
.vscode
.idea
.vs

pids
logs
results

node_modules
npm-debug.log
/build

bin/
obj/
*.user
*.suo
packages/*
_ReSharper*
lib/
*exe
dist/